$bbc-grey: #505050;
$bbc-orange: #D1700E;
$your-choice: #522751;
$imgpath :'../img/';

/*Functions and mixins*/
@mixin reset {
	margin: 0;
	padding: 0;
	border: 0;
}

@mixin transparentResultsBg {
	background-color: transparentize(#EAEAEA, 0.5);
}